{\rtf1\ansi\ansicpg1252\cocoartf2761
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\margl1440\margr1440\vieww11520\viewh8400\viewkind0
\pard\tx720\tx1440\tx2160\tx2880\tx3600\tx4320\tx5040\tx5760\tx6480\tx7200\tx7920\tx8640\pardirnatural\partightenfactor0

\f0\fs24 \cf0 /* Updated 2023-11-02 */\
\
.dashboard \{\
    font-family: inherit;\
    padding-left: 25px !important;\
    padding-right: 25px !important;\
    padding-top: 20px !important;\
\}\
\
.dashboard .markdown-preview-section \{\
    max-width: 100%;\
\}\
\
/* Title at top of the document */\
.dashboard .markdown-preview-section .title \{\
    top: 60px;\
    position: absolute;\
    font-size: 26pt !important;\
    font-weight: bolder;\
    letter-spacing: 8px;\
\}\
\
.dashboard h1 \{\
    border-bottom-style: dotted !important;\
    border-width: 1px !important;\
    padding-bottom: 3px !important;\
\}\
\
\
/* Get rid of the parent bullet */\
.dashboard div.markdown-preview-section > div > ul > li > .list-bullet \{\
    display: none !important;\
\}\
\
/* Remove the indentation guide lines */\
.dashboard.markdown-rendered.show-indentation-guide li > ul::before,\
.dashboard.markdown-rendered.show-indentation-guide li > ol::before \{\
  display: none;\
\}\
\
div.markdown-preview-section > div > ul.has-list-bullet > li \{\
    padding-left: 0p !important;\
\}\
\
.dashboard div > ul \{\
    list-style: none;\
    display: flex;\
    column-gap: 50px;\
    flex-flow: row wrap;\
\}\
\
.dashboard div > ul > li \{\
    min-width: 250px;\
    width: 15%;\
\}\
\
/* Dataview support */\
.dashboard ul.dataview \{\
    row-gap: 0px !important;\
    list-style-type: disc !important;\
\}\
\
}